<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>Admin Dashboard</title>
</head>

<body>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand">Test App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/edit">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log off</a>
          </li>
        </ul>
      </div>
    </nav>

    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Created At</th>
          <th scope="col">User Level</th>
        </tr>
      </thead>
      <tbody>
        {% if users %} {% for user in users%}
        <tr>
          <td>{{user.id}}</td>
          <td>
            <a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
          </td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
          <td>{{user.user_level}}</td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
    <a class="btn btn-danger btn-lg" href="/" role="button">Start Page Test Button</a>
  </div>
</body>

</html>