<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>Home Page</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand">Test App</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage">Sign In</a>
          </li>
      </div>
    </nav>

    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Test</h1>
      <p class="lead">This test should help Andy, Eddie and Andrew get Black Belts on their exams.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/loginpage" role="button">Start</a>
        <a class="btn btn-danger btn-lg" href="/dashboard/admin" role="button">Admin-New User Test Page</a>
        <a class="btn btn-danger btn-lg" href="/users/edit" role="button">User-Edit Profile Test Page</a>
        <a class="btn btn-danger btn-lg" href="/users/show/fake" role="button">Main Landing Test Page</a>
        <a class="btn btn-danger btn-lg" href="/users/edit/fake" role="button">Admin-Edit User Test Page</a>
        <a class="btn btn-danger btn-lg" href="/dashboard/admin" role="button">Admin Dashboard Test Page</a>
        <a class="btn btn-danger btn-lg" href="/dashboard" role="button">User Dashboard Test Page</a>
      </p>
    </div>

  </div>
</body>

</html>