<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>User Information</title>

  <body>
    <div class="container col-8">

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">Test App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard/admin">Dashboard
                <span class="sr-only">(current)</span>
              </a>
              <a class="nav-link" href="/dashboard">User Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log off</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
      <div class="card col-6">
        <div class="card-body">
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <h5>Registered at: {{user.created_at}}</h5>
          <h5>User ID: {{user.id}}</h5>
          <h5>Email Address: {{user.email}}</h5>
          <h5>User Level: {{user.user_level}}</h5>
          <h5>Description: {{user.description}}</h5>
        </div>
      </div>
      <br>

      <!-- <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Leave a message for {{user.first_name}}</span>
        </div>
        <div class="form-inline">
          <form action="/message/save/{{user.id}}" method="POST">
            {% csrf_token %}
            <textarea class="form-control" aria-label="With textarea" name="message"></textarea>
            <button type="submit" title="Save this post" class="btn btn-outline-primary btn-lg">Post</button>
          </form>
        </div>
      </div> -->

      <!-- <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Leave a message for {{user.first_name}}" name="message" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <form action="/message/save/{{user.id}}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary" type="button">Post</button>
          </form>
        </div>
      </div> -->

      <form action="/message/save/{{user.id}}" method="POST" class="form-inline">
        {% csrf_token %}
        <input type="text" class="form-control mb-2 mr-sm-2 col-10" name="message" id="inlineFormInputName2" placeholder="Leave a message for {{user.first_name}}">

        <button type="submit" title="Save Message" class="btn btn-primary mb-2">Message</button>
      </form>


      <br> {% if messages %} {% for message in messages %} 
      <div class="ml-3">
        <textarea cols="60" rows="1">*message* {{message.message}}</textarea>

      </div>

      <!-- <div class="input-group ml-5">
        <div class="input-group-prepend">
          <span class="input-group-text">Leave a comment</span>
        </div>
        <div class="form-inline">
          <form action="/users/comment_save/{{message.id}}" method="POST">
            {% csrf_token %}
            <textarea class="form-control" aria-label="With textarea" name="comment"></textarea>
            <button type="submit" title="Save this comment" class="btn btn-outline-primary btn-lg">Post</button>
          </form>
        </div>
      </div> -->

      {% for comment in message.comments.all %}
      <div class="ml-3">
        <textarea cols="60" rows="1">*comment* {{comment.comment}}</textarea>
      </div>
     {% endfor %}

      <!-- <div class="input-group col-9 mb-5">
        <input type="text" class="form-control" placeholder="Leave a comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <form action="/users/comment_save/{{message.id}}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary" type="button">Post</button>
          </form>
        </div>
      </div> -->


      <form action="/users/comment_save/{{message.id}}" method="POST" class="form-inline">
        {% csrf_token %}
        <input type="text" class="form-control mt-5 mb-5 mr-sm-2 col-9" name="comment" id="inlineFormInputName2" placeholder="Leave a comment">

        <button type="submit" title="Save Comment" class="btn btn-primary mt-5 mb-5">Comment</button>
      </form>

      {% endfor%} {% endif %}

    </div>
    <!--container div-->

  </body>

</html>